<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:#D73F09">Hyper Rail</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li class="<%= nav_active_for('dashboard') %>"><%= link_to "Dashboard", root_path %></li>
          <li class="<%= nav_active_for('analyses') %>"><%= link_to 'Analyses', analyses_path %></li>
          <li class="<%= nav_active_for('settings') %>"><%= link_to 'Settings', settings_path %></li>
          <li class="<%= nav_active_for('programs') %>"><%= link_to 'Programs', programs_path %></li>
          <li><%= link_to 'Logout', session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_session_path %></li>
        <% end %>
      </ul>
      <!-- icon to check if camera is connected -->
      <div class="topnav-right">
        <div style="display: flex">
          <li>
            <!--  href is hardcoded for now, link signifies Micasense default address -->
            <a target="https://192.168.1.83:80/" href="https://192.168.1.83:80/">
              <i class="fas fa-camera fa-2x .topnav-right" href="https://192.168.1.83:80/">
              </i>
            </a>
          </li>
          <div id="connectTitle" title="No Camera Ethernet Connection">
            <i id="camConnect" class="fas fa-circle"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
window.onload = function() {
  var micasenseConnection = document.getElementById("camConnect");
  var ethernetConnection = document.getElementById("connectTitle");
  const checkCamConnection = () => {
    // host is hardcoded for now
    axios.get('https://192.168.1.83:80/status', {timeout: 1000})
        .then(response => {
          micasenseConnection.setAttribute("style", "color: green;");
          ethernetConnection.setAttribute("title", "Camera Ethernet Connected")
        })
        .catch(error => {
          micasenseConnection.setAttribute("style", "color: red;");
          console.error(error)
        });
};

//check if camera connected
checkCamConnection();
}
</script>