<div class="h1">Analyses</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @analyses.each do |analysis| %>
      <tr>
        <td><%= link_to analysis.name, analysis %></td>
        <td><%= analysis.created_at.strftime('%Y-%m-%d') %></td>
        <td>
          <%= link_to 'Edit', edit_analysis_path(analysis) %>
          <%= link_to 'Destroy', analysis, method: :delete, data: { confirm: 'Are you sure you wish to delete this analysis? It will not delete any of the underlying data.' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<%= button_to 'New analysis', new_analysis_path, method: :get, class: 'btn btn-sm btn-primary' %>
