<div class="h1">Showing <%= @analysis.name %></div>

<%= render 'show_grid', analysis: @analysis %>

<%= link_to 'Export', '#exportModal', class: 'btn btn-primary btn-sm export-link', data: { name: @analysis.name, analysis_id: @analysis.id, toggle: 'modal', target: '#exportModal'} %>
<%= link_to 'Back', analyses_path, class: 'btn btn-default btn-sm' %>

<%= render partial: 'export_modal' %>
<script>
  $('.export-link').click(function(event) {
    // Set the modal title
    $('#exportModalLabel').html($(this).data('name'));

    // Set the download links
    $('#aggregate_readings').attr('href', '/analyses/' + $(this).data('analysis-id') + '/aggregate.csv');
    $('#individual_readings').attr('href', '/analyses/' + $(this).data('analysis-id') + '/individual.csv');
  });
</script>
