<div class="h1">Programs</div>

<p class="text-justify ">
  <strong>NOTE:</strong> Once a default program has been generated for specific settings, it should only be updated once the settings change.
  A program is dynamically generated based on the physical configuration of the greenhouse and camera.
  Future versions of the software can have different types of programs running but this initial version requires that the entire greenhouse be scanned at once.
</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Runs</th>
      <th>Last Run</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% if @programs.blank? %>
      <tr>
        <td colspan="4" class="text-center">
          No programs defined yet.<br/>
        </td>
      </tr>
    <% else %>
      <% @program2.each do |program| %>
      <tr>
        <td><%= link_to program.name, program %></td>
        <td><%= program.run_count %></td>
        <td><%=  program.last_run_at || 'never' %></td>
        <td>
          <%= link_to 'Edit', edit_program_path(program) %>
          <%= link_to 'Run', '#', 'data-program-id' =>  program.id, class: 'run_link' %>
          <%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure you wish to delete this program and all associated data?' } %>
          <%= link_to 'Download latest composite', download_zip_url(:run => program.run_count, :camera_name => program.camera_name) %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>File Name</th>
      <th>Time Stamp</th>
    </tr>
  </thead>
  <tbody>
  <% if @files.blank? %>
      <tr>
        <td colspan="4" class="text-center">
          No image files found<br/>
        </td>
      </tr>
    <% else %>
      <% @files.each do |file| %>
      <tr>
        <td><%= link_to file, "#{file}" %></td>
        <td><%= @file_handler.ctime(file).strftime "%Y-%m-%d %H:%M:%S" %></td>
      <% end %>
    <% end %>
  </tbody>
</table>


<hr/>

<%= button_to 'Generate default program from settings', default_programs_path, class: 'btn btn-sm btn-primary', method: :post %>

<script src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>

<script>
  $(document).ready(function() {
    $('.run_link').click(function(event) {
      var program_id = $(this).data('program-id');

      var ros= new ROSLIB.Ros({
        //url : 'ws://192.168.1.135:9090'
        url : 'ws://hyperrail-jetson:9090'
      });
      console.log('register ROS');
      ros.on('connection', function() {
        console.log('Connected to websocket server.');   
      });

      ros.on('error', function(error) {
        console.log('Error connecting to websocket server: ', error);
      });

      var pubProgram = new ROSLIB.Topic({
        ros : ros,
        name : '/programs',
        messageType : 'hyper_rail/ProgramFeed'
      });

      var programID = new ROSLIB.Message({
        program_id : program_id
      });
      
      alert('Sending ' + program_id + ' to roslibjs');
      event.preventDefault();
      pubProgram.publish(programID);
    });
  })
</script>

<script>

</script>
